@import '~op2-living-style-guides/assets/variables';

$editor-border: lightgray thin solid;
$editor-border-radius: 4px;
$editor-header-language-picker-flex: 0 0 10em;
$editor-header-attribute-picker-flex: 0 0 4em;
$editor-header-clear-all-flex: 1 0 15em;
$editor-body-padding: 1em;
$editor-light-color: lightgray;

:host {
  display: block;

  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-end;

    .active {
      color: blue;
    }

    > * {
      flex: 0 0 5em;
      background-color: $c-white;
      padding: 0.5em;
      border: $editor-border;
      text-align: center;
      margin-left: -1px;
      margin-bottom: -1px;
    }
  }

  .main {
    border: $editor-border;
    border-radius: $editor-border-radius;
    background-color: $c-white;
    min-height: 15em;
    position: relative;

    .main-a {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      .toolbar {
        flex: 0 0 2em;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: space-between;

        > * {
          flex: 0 0 auto;
          height: 2em;
          padding: 0.5em;
          &:not(:first-child) {
            border-left: $editor-border;
          }
        }

        .language-picker {
          flex: $editor-header-language-picker-flex;
          i.op2-* {
            float: right;
          }
        }

        .attribute-picker {
          flex: $editor-header-attribute-picker-flex;
        }

        .clear-all {
          flex: $editor-header-clear-all-flex;
          text-align: right;
          color: $editor-light-color;
        }
      }

      .body {
        flex: 10 0 3em;
        border-top: $editor-border;
        padding: $editor-body-padding;
        position: relative;

        .wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

        }

        .editor {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: $editor-body-padding;
        }

        .placeholder {
          color: $editor-light-color;
        }

        .editor:focus + .placeholder {
          visibility: hidden;
        }

        .counter {
          position: absolute;
          right: 1em;
          bottom: 1em;

          &.danger {
            color: red;
          }
        }
      }

      pre {
        flex: 1 0 5em;
        padding: 1em;
        overflow: auto;
        white-space: pre-wrap;
      }
    }
  }
}
